<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <title>{{ app.config['SERVICE_NAME'] }}</title>
    <meta name="description" content="{{ app.config['SERVICE_TAGLINE'] }}">
    <meta name="author" content="{{ app.config['ADMIN_NAME'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="{{ url_for('static', filename='favicon.ico')}}" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="{{url_for('static', filename='vendor/bootstrap-3.0.3/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='oabutton.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/select2-release-3.2/select2.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='vendor/select2-release-3.2/select2-bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='nvd3/nv.d3.css')}}">
    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-1.10.2.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/bootstrap-3.0.3/js/bootstrap.min.js')}}"></script>                
    <script type="text/javascript" src="{{url_for('static', filename='jquery.linkify-1.0-min.js')}}"></script>      
    <script type="text/javascript" src="{{url_for('static', filename='vendor/select2-release-3.2/select2.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='jquery.graphview.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/d3/d3.v3.min.js')}}"></script>    
    <script type="text/javascript" src="{{url_for('static', filename='vendor/d3/topojson.v1.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='nvd3/fisheye.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='nvd3/nv.d3.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='vendor/etherpad.js')}}"></script>
    
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>




<body>

<div class="navbar navbar-fixed-top" style="background-color:white;">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="glyphicon glyphicon-list"></span>
      </button>
      <a class="navbar-brand" href="/" style="padding-right:50px;">{{ app.config['SERVICE_NAME'] }}</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li><a href="/action">Take action</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/about">About us</a></li>

        {% if current_user.is_anonymous() %}
        <li><a href="{{url_for('account.login')}}">Login</a></li>
        {% else %}
        <li class="dropdown" style="background-color:#f04717;color:#212f3f;">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="color:black;"><span class="glyphicon glyphicon-cog"></span> <b class="caret"></b></a>
          <ul class="dropdown-menu" style="background-color:#eee;">
            <li><a href="{{ url_for('account.index') }}{{current_user.id}}">Your account</a></li>
            <li><a href="{{ url_for('account.index') }}logout">Logout</a></li>
            <li class="divider"></li>
            <li><a href="{% if record %}{{ record.url }}{% else %}/index{% endif %}/edit">Edit this page</a></li>
            <li><a href="{% if record %}{{ record.url }}{% else %}/index{% endif %}/settings">Settings for this page</a></li>
            {% if current_user.is_super %}
            <li class="divider"></li>
            <li><a href="/account">Manage user accounts</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}

        {% if current_user.is_anonymous() %}
        <li style="background-color:#f04717;color:#212f3f;height:55px;z-index:10000;
        -webkit-border-bottom-right-radius: 5px;-webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;-moz-border-radius-bottomleft: 5px;border-bottom-right-radius: 5px;border-bottom-left-radius: 5px;">
        <a href="/#download" style="font-size:1.2em;font-weight:bold;" id="bfb">Download</a></li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{category}} fade in" data-alert="alert" style="width:100%;z-index:1001;padding:0;">
    <div class="container" style="padding-top:5px;padding-bottom:5px;">
        <a class="close" data-dismiss="alert" href="#" style="font-size:1.4em;">&times;</a>
        {{ message }}
    </div>
</div>
{% endfor %}
{% endif %}
{% endwith %}



{% block content %}{% endblock %}

{% if current_user.is_anonymous() and request.path.lstrip('/').split('/')[0] not in ['docs','account'] %}
<a name="download"> </a>
<div class="strap strap-white">
    <div class="container">
        <h1>DOWNLOAD</h1>
        <h1 style="margin-top:0px;">REGISTER</h1>
        <div class="row">
            <div class="col-md-3">
                <img class="img" src="/static/oabutton_logo_final200.png" style="height:200px;">
            </div>
            <div class="col-md-9">
                <p><input id="id_name" name="name" placeholder="Name (required, preferably full name)" type="text" class="form-control"></p>
                <p><input id="id_email" name="email" placeholder="Email address (required)" type="text" class="form-control"></p>
                <p><select id="id_profession" name="profession" class="form-control">
                    <option value="Student">Student</option>
                    <option value="Doctor">Doctor</option>
                    <option value="Patient">Patient</option>
                    <option value="Advocate">Advocate</option>
                    <option value="Academic">Academic</option>
                    <option value="Researcher">Researcher</option>
                    <option value="Librarian">Librarian</option>
                    <option value="Other">Other</option>
                    <option value="Undisclosed">Prefer not to say</option>
                </select></p>
                <div class="checkbox"><input id="id_confirm_public" name="confirm_public" type="checkbox" />
                <label for="id_confirm_public" class="confirm-label">I understand that information obtained by this button will be publicly accessible</label>
                </div>
                <div class="checkbox"><input id="id_confirm_terms" name="confirm_terms" type="checkbox" />
                <label for="id_confirm_terms" class="confirm-label">I agree to the Open Access Button <a target="_blank" href="/terms">terms and conditions</a></label>
                </div>
                <div class="checkbox"><input id="id_mailinglist" name="mailinglist" type="checkbox" />
                <label for="id_mailinglist" class="mailinglist-label">I would like to be added to the Open Access Button Mailing List</label>
                </div>
                <p style="font-size:0.9em;color:#bbb;">( Your e-mail address will NOT be publicised or shared with third parties. )</p>
                <p><select id="downloadtype" name="downloadtype" class="form-control">
                    <option>Platform: Devnote: this will autodetec where possible but can still be manually selected</option>
                    <option>Chrome</option>
                    <option>Firefox</option>
                    <option>Android</option>
                </select></p>

                <p><button type="submit" class="btn btn-lg btn-block btn-action">get your Open Access Button</button></p>
                <p>Questions? <a href="/contact" class="action">Contact us</a></p>
            </div>
        </div>
    </div>
</div>
{% endif %}



<div class="strap strap-compact">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <p>Footer stuff goes here</p>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <p>Logos or something, or whatever, in here.</p>
            </div>
            <div class="col-md-4">
                <p style="float:right;margin-top:10px;">
                    <a href="" target="_blank"><i class="fa fa-twitter-square fa-5x action"></i></a>
                    <a href="" target="_blank"><i class="fa fa-facebook-square fa-5x action"></i></a>
                    <a href="" target="_blank"><i class="fa fa-google-plus-square fa-5x action"></i></a>
                    <br>or <a href="/contact" style="color:#f04717;">contact us directly</a>
                </p>
            </div>
        </div>
    </div>
</div>

</body>
</html>