{% extends "base.html" %}

{% block content %}


<div class="container" style="padding-bottom:40px;">
    <div class="content">

        <div class="jumbotron">
            <h1>The API docs, and a nice example<br>
            <small><a href="/api" style="color:white;" id="apiaddr">http://oabutton.cottagelabs.com/api</a></small></h1>
        </div>
    
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <h1>REGISTER</h1>

                <p>Let's say I wanted to use the API to register with OABUTTON and do a bunch of things, 
                maybe even build a bookmarklet that allows me to use the full functionality - which I do :)
                Let's work through that as an example, starting with the API /register endpoint.</p>
                
                <p>Here's how I could do this with a javascript function calling the described /register endpoint.</p>
            </div>
        </div>            
    
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-6">                
<pre><p>
var serviceaddress = <span id="serviceaddress">'http://oabutton.cottagelabs.com'</span>;
var apiaddress = serviceaddress + '/api';
var api_key = <span id="api_key">''</span>;
var username = <span id="username">''</span>;
var register = function() {
    $.ajax({
        'type': 'POST',
        'url': apiaddress + '/register',
        'contentType': 'application/json; charset=utf-8',
        'dataType': 'JSON',
        'processData': false,
        'cache': false,
        'data': JSON.stringify({
            'email': 'test@test.com',
            'profession': 'student',
            'username': 'test_'
        }),
        'success': registersuccess,
        'error': statuserror
    });
}
</p></pre>

                <p>Now, let's run this and register a test account and get an API key back.</p>
                <p>
                    <input style="margin-bottom:2px;" type="text" class="form-control" placeholder="or hey, while you're here, make your own account - username here :)">
                    <input style="margin-bottom:2px;" type="text" class="form-control" placeholder="and your email address here, if you want your own account">
                    <a class="btn btn-block btn-action performaction" href="register">register a test account</a> 
                </p>
                <div id="registerresult"></div>
            </div>

            <div class="col-md-6">
<pre><p>
<b>/register</b>

PUBLIC - no authentication required.

POST (ideally JSON) requests to register a user account here (or GET with suitable parameters).

REQUIRES email (which will also become username if one is not supplied)

EXPECTS profession

ACCEPTS username, name, password (actually, accepts anything for now whilst testing)

RESPONDS with 200 and a JSON object with the username and api_key

ERRORS with 400 if the username already exists or required keys missing or other error, and a JSON object with relevant error information
</p></pre>

            </div>
        </div>      
        
        
        <hr></hr>
        
        
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <h1>STATUS</h1>
                <p>OK so now to do something useful - with an account, a request to the /status API
                will return some information, if any can be found, about a given URL or DOI. (It does 
                this by calling various other things on the OABUTTON server, some of which can also be
                accessed directly - we'll look at this soon.)</p>
                
                <p>Here is an example in javascript of getting the status of a URL by calling the /status API.</p>
            </div>        
        </div>

        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-6">                
<pre><p>
var status = function() {
    $.ajax({
        'type': 'POST',
        'url': apiaddress + '/status',
        'contentType': 'application/json; charset=utf-8',
        'dataType': 'JSON',
        'processData': false,
        'cache': false,
        'data': JSON.stringify({
            'api_key': api_key,
            'url': 'http://some.url'
        }),
        'success': statussuccess,
        'error': statuserror
    });
}
</p></pre>

                <p>Let's see what we can learn an example URL (or provide your own).</p>
                <p>
                    <input type="text" class="form-control" id="sampleurl" value="http://www.jcheminf.com/content/3/1/47" style="margin-bottom:2px;">
                    <a class="btn btn-block btn-action performaction" href="status">check the status of the URL</a> 
                </p>
                <div id="statusresult"></div>
            </div>

            <div class="col-md-6">
<pre><p>
<b>/status</b>

RESTRICTED - authentication required

POST (ideally JSON) a request for OA status of item at a given URL (or GET with params).

REQUIRES api_key, url

EXPECTS nothing else

ACCEPTS anything else for now

RESPONDS with 200 and a JSON object which we will populate with useful stuff depending what functionality we have

ERRORS with 400 and a JSON object containing the error information
</p></pre>
            </div>
        </div>


        
        
        <hr></hr>
        
        
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <h1>BLOCKED</h1>
                <p>The main event - we can't access something! Let's make a noise!</p>
                
                <p>Here is an example in javascript of telling the world you could not access some key research by calling the /blocked API.</p>
            </div>        
        </div>

        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-6">                
<pre><p>
var blocked = function() {
    $.ajax({
        'type': 'POST',
        'url': apiaddress + '/blocked',
        'contentType': 'application/json; charset=utf-8',
        'dataType': 'JSON',
        'processData': false,
        'cache': false,
        'data': JSON.stringify({
            'api_key': api_key,
            'url': 'http://some.url'
        }),
        'success': blockedsuccess,
        'error': blockederror
    });
}
</p></pre>

                <p>Let's register our annoyance at being blocked at our test URL</p>
                <p>
                    <a class="btn btn-block btn-action performaction" href="blocked">register blocking at the test URL</a> 
                </p>
                <div id="blockedresult"></div>
            </div>

            <div class="col-md-6">
<pre><p>
<b>/blocked</b>

RESTRICTED - authentication required

POST (ideally JSON) a notification whenever a user is blocked from accessing something (or GET with params).

REQUIRES api_key, url

EXPECTS coords_lat, coords_lng, doi, title, author:[], journal, story

ACCEPTS anything else for now

RESPONDS with 200 and an object with "url" for confirmation and "id" the block event ID

ERRORS with 400 and a JSON object containing the error information

<b>/blocked/&lt;id&gt;</b>

It is then possible to GET the given block record back again by appending its ID to the /blocked/ API route

The block record can also be updated by POSTing to it.
</p></pre>
            </div>
        </div>




        
        
        <hr></hr>
        
        
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <h1>WISHLIST</h1>
                <p>It would be great to be able to get something once it becomes available. That's what wishlist does - it 
                adds the item to your wishlist.</p>
                
                <p>Here is an example in javascript of registering a block and adding to your wishlist by calling the /wishlist API.</p>
            </div>        
        </div>

        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-6">                
<pre><p>
var wishlist = function() {
    // it's just like blocked but goes to /wishlist
    // and it only needs the url of the page from which it was submitted
}
</p></pre>

                <p>Let's get an item at the test URL onto our wishlist</p>
                <p>
                    <a class="btn btn-block btn-action performaction" href="wishlist">Add the test URL to our wishlist</a> 
                </p>
                <div id="wishlistresult"></div>
            </div>

            <div class="col-md-6">
<pre><p>
<b>/wishlist</b>

</p></pre>
            </div>
        </div>



        
        <!--
        <hr></hr>
        
        
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <h1>PROCESSOR</h1>
                <p>Open Access Button has various ways of processing URLs (and the content of those URLs) when they 
                are received, and the information that the system collects is available via the /status API. However, 
                it is also possible to call the various processors that we have developed directly, just to get 
                some specific sorts of information back.</p>
                
                <p>Information about the available processors and how to access them directly is coming soon.</p>
            </div>        
        </div>

        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-6">                
<pre><p>
var processor = function(processtype) {
    // do something :)
}
</p></pre>

            </div>

            <div class="col-md-6">
<pre><p>
<b>/processor</b>
<b>/processor/&lt;processtype&gt;</b>

Coming soon...
</p></pre>
            </div>
        </div>
        -->


        
        <hr></hr>
        
        
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <h1>OTHER BITS (in progress)</h1>
                <h2>/retrieve</h2>
                <p>/retrieve can be used to retrieve the api_key for a user account. 
                Just POST a JSON object with "email" and "password" and if they match an account 
                the response object will contain "api_key"</p>
                <h2>/story/&lt;storyid&gt;</h2>
                <p>The stories of when people get blocked from accessing something are available 
                on the main site (not on the /api route) at /story/&lt;storyid&gt; - and the data for a 
                story can be retrieved by appending ".json" to that URL or by requesting JSON in the 
                GET request.</p>
                <h2>/account/&lt;username&gt;/wishlist</h2>
                <p>A user can retrieve their wishlist in a similar fashion at /account/&lt;username&gt;/wishlist</p>
            </div>
        </div>





        
        <hr></hr>
        
        
        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <h1>A WORKING EXAMPLE (in progress)</h1>
                <p>The javascript code examples above are similiar to what is in our own 
                javascript oabutton client library - which you can <a href="/static/oabutton.js">see for yourself</a>.</p>
                <p>Also, that client library is used in our bookmarklet - you can see that working by getting your own on 
                your account page.</p>
            </div>
        </div>



        <hr></hr>


        <div class="row" style="padding:0;margin:0;">
            <div class="col-md-12">
                <p>All done? Please clean up your test doodlings! (This uses one last part of the API, but it only exists to 
                tidy up after these demos :)</p>
                <p><a id="docleanup" href="javascript:(function(){$.ajax({'url':'/api/test/cleanup'});$('#docleanup').after('<br><br>Done! Thanks.');})();" class="btn btn-action">Delete any test accounts and data</a></p>
            </div>
        </div>



    </div>
</div>


<script type="text/javascript" src="{{url_for('static', filename='oabutton.js')}}"></script>
<script>
jQuery(document).ready(function() {

// a useful ID generator
var makeuuid = function(simple) {
    var pt = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx';
    simple ? pt = 'xxxxxxxx' : false;
    return pt.replace(/[xy]/g, function(c) {
        var r = Math.random()*16|0, v = c == 'x' ? r : (r&0x3|0x8);
        return v.toString(16);
    });
}

// set some vars and create a client
var anid = makeuuid(true);
var serviceaddress = window.location.protocol + '//' + window.location.host;
var apiaddress = serviceaddress + '/api';
var client = new oabutton({
    api: apiaddress
});

// update the page with some vars to look nice
$('#serviceaddress').html(serviceaddress);
$('#apiaddr').html(apiaddress);

// functions to be performed on success of various API actions
var successfunctions = {
    register: function(data) {
        api_key = data.api_key;
        username = data.username;
        $('#api_key').html("'" + api_key + "'");
        $('#username').html("'" + username + "'");
        $('#registerresult').html('<p>You now have an API key: ' + api_key + ' for the account <a target="_blank" href="' + 
        serviceaddress + '/account/' + username + '">' + username + '</a></p><p>Check out what we can do next...</p>');
    },
    status: function(data) {
        $('#statusresult').html('<p>Here is what the API returned about this URL.</p><pre><p>' + JSON.stringify(data,"","    ") + '</p></pre>');
    },
    blocked: function(data) {
        $('#blockedresult').html('<p>A block event for the URL ' + data.url + ' has been registered. ' + 
            'It can be viewed <a target="_blank" href="/story/' + data.id + '">here</a>.</p>');
    },
    wishlist: function(data) {
        $('#wishlistresult').html('<p>The URL has been added to your wishlist. You could view it on your ' + 
            '<a href="/account/' + client.options.username + '">user account page</a>.</p>');
    }
}
// execute the various API actions via the instantiated client
var performaction = function(event) {
    event.preventDefault();
    // the data required for the various API actions
    var getdata = {
        register: {
            email: 'test@test.com',
            profession: 'student',
            username: 'test_' + anid
        },
        status: { url: $('#sampleurl').val() },
        blocked: { url: $('#sampleurl').val() },
        wishlist: { url: $('#sampleurl').val() },
    }
    var a = $(this).attr('href');
    client[a]({
        success: successfunctions[a],
        data: getdata[a]
    });
}
$('.performaction').bind('click',performaction);


});
</script>


{% endblock %}