<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ app.config['SERVICE_NAME'] }}</title>
    <meta name="description" content="{{ app.config['SERVICE_TAGLINE'] }}">
    <meta name="author" content="{{ app.config['ADMIN_NAME'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="/static/vendor/jquery-1.10.2.min.js"></script>

    <script type="text/javascript" src="/static/vendor/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css">

    <script type="text/javascript" src="/static/vendor/bootstrap-3.0.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/vendor/bootstrap-3.0.3/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/static/oabutton.css">

    <script src="/static/vendor/d3/d3.v3.min.js"></script>
    <script src="/static/vendor/d3/topojson.v1.min.js"></script>

</head>

