{% extends "base.html" %}

{% block content %}

<div class="container">


    <div class="row">
        {% if story %}
        <div class="col-md-9">
            <div class="well" style="background-color:#98fdfd;min-height:300px;">
                <h1><a target="_blank" href="{{story.url}}">{{story.url}}</a></h1>
                <p>
                {% if user %}
                <a href="/account/{{user.id}}">{{user.id}}</a>
                {% if user.profession %}
                (a {{user.profession}})
                {% endif %}
                {% else %}
                One of our users
                {% endif %}
                needed access to this article and could not get it.</p>
                {% if story.story %}
                <p>{{story.story}}</p>
                {% endif %}
                <p>Coming soon... we will be making this page more useful, and showing further links 
                to supporting and related information where available, and asking YOU for help!</p>
                <p>Can you help right now? Check out <a href="/action">our action page</a>. Later we'll be asking authors 
                (and others) to share copies of articles (legally :)</p>
            </div>
        </div>
        {% endif %}
        {% if catalogue %}
        <div class="col-md-3">
            <div class="well" style="background-color:#212f3f;color:white;min-height:300px;">
                <h2>Blocked: {{catalogue.blocked}}</h2>
                <h2>Wishlist: {{catalogue.wishlist}}</h2>
                <hr>
                <p>These people need access to this article - can you help?</p>
            </div>
        </div>
        {% endif %}
    </div>

    {% if catalogue %}
    {% if catalogue.contentmine %}
    {% if catalogue.contentmine.metadata %}
    <div class="row">
        <div class="col-md-12">
            <div class="well">
            {% if catalogue.contentmine.metadata.title %}
            <h2>{{catalogue.contentmine.metadata.title}}</h2>
            {% endif %}
            {% if catalogue.contentmine.metadata.author %}
            <p>{{", ".join(catalogue.contentmine.metadata.author)}}</p>
            {% endif %}
            {% if catalogue.contentmine.metadata.description %}
            <hr>
            <p>{{catalogue.contentmine.metadata.description}}</p>
            {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
    
    {% if catalogue.core %}
    {% if catalogue.core.url %}
    <p>This article is available at <a target="_blank" href="{{catalogue.core.url}}">{{catalogue.core.url}}</a>.</p>
    <p>(Soon we will be updating people who try to access something that is available elsewhere automatically - 
    and checking for things becoming available later.)</p>
    {% endif %}
    {% endif %}

    {% if about %}
        <table class="table table-striped table-bordered">
        {% for a in about.get('hits',{}).get('hits',[]) %}
            <tr><td>
            <p><a href="/story/{{a['_source']['id']}}">{{a['_source']['id']}}</a></p>
            </td></tr>
        {% endfor %}
        </table>
    {% endif %}
    
</div>


{% endblock %}