{% extends "base.html" %}

{% block content %}

<div class="container">

    {% if current_user.id == account.id or current_user.is_super %}

    <div class="row">
        <div class="col-md-4" style="border-right:1px solid #c8c8c8;">
            <h2>{{ account.id }}</h2>

            <form action="" method="POST">
            <p>Soon you'll be able to change your account details and upload a profile pic (or we'll pull your gravatar if you have one :)</p>
            </form>

            <hr>
            
            <p>Your bookmarklet code is:<br>
            <pre><code>javascript:(function(){oabuid='{{account.data['api_key']}}';_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='{{request.url.replace('//','____').split('/')[0].replace('____','//')}}/static/oabutton_includer.js?';document.getElementsByTagName('head')[0].appendChild(_my_script);}())</code></pre></p>
            <p>Drag the button to your bookmarks bar:</p>
            <p><a class="btn btn-info" href="javascript:(function(){oabuid='{{account.data['api_key']}}';_my_script=document.createElement('SCRIPT');_my_script.type='text/javascript';_my_script.src='{{request.url.replace('//','____').split('/')[0].replace('____','//')}}/static/oabutton_includer.js?';document.getElementsByTagName('head')[0].appendChild(_my_script);}())">Open Access Button</a></p>
            
            <p>Your API key is:<br>
            <pre><code>{{account.data['api_key']}}</code></pre></p>
                    
            <hr>
            
            <p><a href="#" id="delete" class="btn btn-danger btn-xs btn-block">Delete your account - cannot be undone!</a></p>
        </div>
        
        <div class="col-md-8">
            <h2>Your wishlist</h2>
            <table class="table table-striped table-bordered">
            {% for w in account.wishlist() %}
                <tr><td>
                <a target="_blank" href="{{w.url}}">{{w.url}}</a> on {{w.created_date}}
                </td></tr>
            {% endfor %}
            </table>
            
            <h2 style="padding-top:40px;">Coming soon...</h2>
            <p>A list of the articles you wished for, and received!</p>
            <p>The ability to create groups of users with related research interests!</p>
        </div>
    </div>

    {% else %}
    <div class="row">
        <div class="col-md-12">
            <h2>{{ account.id }}</h2>
            <p>You are not logged in as this user. Use the <a href="/account/login">login page</a> if you want to change this</p>
        </div>
    </div>
    {% endif %}

</div>

<script>
jQuery(document).ready(function() {

    function discoveryRecordView(data) {
        var details = '<tr><td>';
        details += '<h4><a href="/story/' + data.id + '">' + data.title + '</a></h4>';
        details += '</td></tr>';
        return details;
    }
        
    var cshowresults = function(data) {
        var restable = '<table id="searchresulttable" class="table table-striped table-bordered" style="background:white;">';
        for ( var r in data.hits.hits ) {
            restable += discoveryRecordView(data.hits.hits[r]._source);
        }
        restable += '</table>';
        $('.graphview_panel').html(restable);
        $('.graphview_total').html(data.hits.total);
        $('.graphview_loading').html('... LOADING').hide();
        if ( data.hits.total == 0 ) {
            $('.graphview_loading').html('NO RESULTS FOUND').show();
        }
    }

    var cuitemplate = function() {
        var options = $.fn.graphview.options;
        var ui = '<div class="graphview">';
        ui += '<div class="row graphview_searcharea">';

        ui += '<div class="col-md-12">';

        ui += '<div style="margin-top:35px;"><input type="text" class="form-control query_string" style="width:97%;" data-option="query.bool.must.query_string.query"></div>';

        ui += '<div style="height:35px;margin-top:10px;">';

        ui += '<div style="display:inline;"><span class="searchcontrols">';
        ui += '<input class="form-control graphview_from" type="text" value="';
        ui += options.defaultquery.from;
        ui += '" style="width:40px;margin:-5px 0 0 0;padding:1px 1px 0 0;color:#666;text-align:center;display:inline;">';
        ui += ' to ';
        ui += '<input class="form-control graphview_to" type="text" value="';
        ui += options.defaultquery.size;
        ui += '" style="width:40px;margin:-5px 0 0 0;padding:1px 1px 0 0;color:#666;text-align:center;display:inline;"> of </span> \
            <span class="graphview_total searchcontrols" style="font-size:16px;font-weight:bold;color:#999;"></span>';
        ui += ' <span class="graphview_loading">... LOADING</span>';
        ui += '</div>';
        
        ui += '<div class="searchcontrols" style="float:right;display:inline;">';
        ui += ' <a id="closesearch" class="close" href="#" style="font-size:1.4em;padding-left:20px;" alt="close the search" title="close the search">&times;</a>';
        ui += '</div>';

        ui += '</div>';

        ui += '</div>';
        ui += '</div>'; // closes searcharea

        ui += '<div class="graphview_panel searchcontrols"></div>';

        ui += '</div>'; // closes graphview

        return ui;
    }

    $('#wishlist').graphview({
        "target": "/wishlist",
        "pushstate": false,
        "titlefield": "name.exact",
        "defaultquery": {
            "query": {
                "bool": {
                    "must":[
                        {"match_all": {}}
                    ]
                }
            },
            "from":0,
            "size":25,
            "facets":{
                "Authors": {"term":{"field":"author.exact","suggest":true}},
                "Journals": {"term":{"field":"journal.exact","suggest":true}}
            }
        },
        showresults: cshowresults,
        uitemplate: cuitemplate
    });
    

    var deleteme = function(event) {
        event.preventDefault();
        var conf = confirm("Are you sure you want to delete your account? All your details and your wishlist will be permanently removed. :(");
        if ( conf ) {
            $.ajax({
                'url': window.location,
                'method': 'DELETE'
            });
            window.location = '/';
        }
    }
    $('#delete').bind('click',deleteme);
})
</script>

{% endblock %}

